body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

/* form#skills {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
} */

.skill {
	/* display: inline-flex; */
	flex-direction: column;
	justify-content: space-evenly;
	flex-flow: column wrap;
	
}

.profile-image {
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.big-button {
	background-color: yellow;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	padding: 20px 30px;
	font-size: x-large;
	font-weight: bold;
	width: 140px;
	height: auto;
}